CKPT_DIR: "../artifacts/ckpts"
LOG_DIR: "../artifacts/logs"
IMG_OUT_DIR: "../artifacts/img"
MODEL:
  patch_kernel_size: 8
  img_size: [3, 64, 64]
  embed_size: 256
  mask_fraction: 0.75
  num_transformer_blocks: 12
  num_attention_heads: 8
DATA:
  root: "../data"
  batch_size: 32
OPTIM:
  optimizer: "adam"
  lr: 0.001
  num_epochs: 10